@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

main {
    display: block;
    height: 100vh;
    background-image: url(/static/images/room.png);
    background-size: cover;
}
