{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_bf_login.css' %}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>NARO</h1>
            <nav>
                <a href="">김하경</a>
                <a href="">문찬웅</a>
                <a href="">임우열</a>
                <a href="">배수빈</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <p>멋쟁이사자처럼 8기,</p>
            <p>TEAM. 시공</p>
            <p>'나로'프로젝트</p>
        
            <!-- <div class="go_login"> -->
                <a href="{% url 'signup' %}">
                   login
                    <!-- <p>login</p> -->
                </a>
            </div>

            <div class="bubble">
                <img src="{% static 'images/bubble.png' %}">
            </div>
        </div>
        
        
    </main>

    <script>
        $(window).on("load", function() {
            $("header, main").addClass("active");
        });
    </script>

</body>
</html>