{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_af_login.css' %}">
</head>
<body>
    <main>
        <div class="background">
            <a><img src={% static 'images/kit.png' %} class="kit"></a>
            <a><img src={% static 'images/book.png' %} class="book"></a>
            <a><img src={% static 'images/bed.png' %} class="bed"></a>
            <div class="bubble">
                <img src="{% static 'images/bubble.png' %}">
            </div>
            <form class = "bubble_answer" action= "" method="POST">
                {% csrf_token %}    
                <p><textarea placeholder="오늘 하루는 어땠어?"></textarea></p>
                <p><input type="submit" value="말하기"></p>
            </form>
        </div>


    </main>
</body>
</html>